@using WebSystem.Models.Outlook

@model AuthenticationModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}

<style media="screen">
    #uploadForm,
    #imagePreview {
        width: 720px;
        margin: 0 auto;
    }

    img {
        max-width: 250px;
        height: auto;
    }
</style>

<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
        <h3>Login</h3>

        <div class="form-group">
            <label class="col-md-2 control-label" for="UserNameText">Nombre Usuario</label>
            <input class="form-control" data-val="true" data-val-required="The Nombre Usuario field is required." id="UserNameText" name="UserNameText" placeholder="" type="text" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="UserNameText" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="UserNameText">Contraseña</label>
            <input class="form-control" data-val="true" data-val-required="The Nombre Usuario field is required." id="UserNameText" name="UserNameText" placeholder="" type="text" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="UserNameText" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="button" id="idButtonLogin">Ingresar</button>
            <button class="btn btn-secondary" type="button">Cancelar</button>
        </div>

    </div>
</div>


<script type="text/javascript">

$('#idButtonLogin').on('click', function () {
    $.ajax({
        type: 'GET',
        url: 'https://localhost:7169/Authentication/LoginUser',
        success: function (response) {
            if (response.statusCode == 200){
                location.href = JSON.parse(response.content).redirectUrl;
            }
        }
    });
});
</script>